.Categories{
    display: flex;
    align-items: center;

}



.Link{
    text-decoration: none;
    font-size: 16px;
    color: rgb(91, 91, 91);
    margin: 0 10px;
}

.Link:hover{
    color: #000000;
}

@media screen and (min-width: 0px) and (max-width:500px){
    .Categories{
        display: block;
        align-items: center;
    
    }
    
    .Link{
        text-decoration: none;
        font-size: 16px;
        color: rgb(91, 91, 91);
        margin: 0 10px;
    }
    
    .Link:hover{
        color: #000000;
    }
}